@page "/alert"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<style>
    .cardA {
        margin: 20px auto;
        max-width: 320px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 0.5rem;
        background: #606c88;
        background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
        background: linear-gradient(to right top, #3f4c6b, #606c88);
        padding: 0 1rem ;
        color: rgb(107, 114, 128);
        box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.4);
    }

    .icon {
        height: 2rem;
        width: 2rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background-color: #153586;
        color: rgb(59, 130, 246);
    }

        .icon svg {
            height: 1.25rem;
            width: 1.25rem;
        }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
    }

    .desc {
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
        color: rgb(202, 200, 200);
    }

    .close {
        margin-left: 200px;
        height: 2rem;
        width: 2rem;
        display: inline-flex;
        border-radius: 0.5rem;
        background-color: #606c88;
        padding: 0.375rem;
        color: rgba(255, 255, 255, 1);
        border: none;
    }

    .close:hover {
        background-color: rgb(58, 69, 83);
    }
</style>

<div class="cardA">
    
    <div class="content">
        <div class="title">@Title
            <button type="submit" class="close" @onclick="Close">
                <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </button>
        
        </div>
        <div class="desc">@Sub</div>
    </div>
</div>


@code{
    [Parameter] public EventCallback Close { get; set; }
    [Parameter] public string? Sub{ get; set; }
    [Parameter] public string? Title { get; set; }

}



