@page "/car"
<style>
body, html { overflow: hidden; }

    body {
       display: flex;
        justify-content: center; 
        align-items: center; 
       position: absolute; 
       width: 100%; 
       height: 100%; 
       margin: 0; }

#burger { position: absolute; left: 20px; top: 20px; }

label[for="burger"] { cursor: pointer 16 0,auto; position: relative; width: 193px; height: 193px; display: block; margin: auto; overflow: hidden; } /*contenitore burger*/
label[for="burger"] > span { position: absolute; left: 0; top: 0; width: 100%; height: 10px; background-color: #FFF; display: block; } /*barre menu*/
label[for="burger"], label[for="burger"] * { transition: all .3s ease-in-out; } 

.cheese { margin-top: 26px; }
.cheese:before, .cheese:after { content: ""; position: absolute; }
.cheese:before { height: 0; width: 100%; background: brown; top: 0; }
.cheese:after { right: 5px; top: 6px; width: 0;  height: 20px;  border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 0 solid #f6b93b; }

.bot_bun { margin-top: 52px; }

#burger:not(:checked) ~ [for="burger"] { 	 }
#burger:not(:checked) ~ [for="burger"], #burger:not(:checked) ~ [for="burger"] .cheese { -webkit-animation: jello-horizontal 0.7s both; animation: jello-horizontal 0.7s both; }

#burger:checked ~ [for="burger"] { filter: drop-shadow(0px 0px 9px rgba(0,0,0,0.3)); -webkit-filter: drop-shadow(0px 0px 9px rgba(0,0,0,0.3)); -moz-filter: drop-shadow(0px 0px 9px rgba(0,0,0,0.3));  }

#burger:checked ~ [for="burger"], #burger:checked ~ [for="burger"] .cheese { -webkit-animation: jello-vertical 0.7s both; animation: jello-vertical 0.7s both; }

#burger:checked ~ [for="burger"] .top_bun, #burger:checked ~ [for="burger"] .bot_bun { height: 20px; background-size: 50%; background-color: #fad390; background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e58e26' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }

#burger:checked ~ [for="burger"] .top_bun { border-top-left-radius: 32px; border-top-right-radius: 32px; }
#burger:checked ~ [for="burger"] .cheese { height: 6px; margin-top: 20px; background: #f6b93b; }
#burger:checked ~ [for="burger"] .cheese:after { border-top-width: 5px; }
#burger:checked ~ [for="burger"] .cheese:before { top: 6px; height: 6px; }
#burger:checked ~ [for="burger"] .bot_bun { border-bottom-left-radius: 32px; border-bottom-right-radius: 32px; margin-top: 32px; }

@@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
</style>
<Bolle left_="150px"></Bolle>
<input type="checkbox" id="burger" checked style="visibility:collapse"/>
    <label for="burger">
        <span class="top_bun"></span>
        <span class="cheese"></span>
        <span class="bot_bun"></span>
    </label>
