<style>

	#_Field {
  width: 100px;
  height: 40px;
  background-color: #292929;
  border-radius: 30px;
  border: 2px solid #292929;
  padding: 0px 12px;
  outline: none;
  caret-color: rgb(152, 88, 255);
  color: rgb(212, 212, 212);
  font-size: 12px;
  transition-duration: .2s;
}

		#_Field:focus,
		#_Field:valid {
  border: 2px solid rgb(152, 88, 255);
  transition-duration: .2s;
}


</style>
<label style="color:black;font-size:14px;" class="label">Durata:</label>
<input type="number " min="0" @bind-value="@InputText" id="_Field">
@code {
	[Parameter]
	public int? InputText { get; set; }

}
