@page "/form"
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ::selection {
        background: #fff;
        color: #117eeb;
    }

    body {
        background: #252c4a;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: #fff;
        background:transparent;
    }

    .container {
        max-width: 50rem;
        width: 90vw;
        margin: 2rem auto;
    }

    .quiz__heading {
        display: none;
    }

    .result {
        font-size: 2rem;
        color: #117eeb;
    }

    .heading__text {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
    }

    .quiz__heading-text {
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 300;
    }

    .quiz-form__question {
        margin-bottom: 0.8rem;
        font-size: 1.2rem;
    }

    .quiz-form__quiz:not(:last-child) {
        margin-bottom: 1.5rem;
        border-radius: 0.8rem;
        border: 2px solid #264868;
        padding: 40px;
    }

    .quiz-form__ans {
        border-radius: 0.8rem;
        border: 2px solid #264868;
        padding: 0.8rem;
        color: #a1a9bd;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        cursor: pointer;
    }

        .quiz-form__ans:not(:last-child) {
            margin-bottom: 0.5rem;
        }


    .text {
        backface-visibility: hidden;
        transition: transform 200ms ease-in;
    }

    

    .submit {
        border: none;
        border-radius: 100vh;
        padding: 0.8rem 1.5rem;
        background: #117eeb;
        color: #fff;
        font-family: inherit;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;
        display: block;
        margin: 1rem auto 4rem auto;
        cursor: pointer;
        transition: transform 200ms ease, box-shadow 200ms ease;
    }

        .submit:focus {
            outline: none;
        }

        .submit:hover {
            transform: translateY(-2px) scale(1.015);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
        }

        .submit:active {
            transform: translateY(0) scale(1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        }

    input[type='radio']{
        margin:5px;

    }
</style>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet" />
<div class="container" >
    <!-- Quiz section -->
    <div class="quiz" style="border:2px solid; border-radius:50px; padding:25px;background:#D4ADFC;  width:100%">
        <form class="quiz-form">
            <div class="quiz-form__quiz">
                <p class="quiz-form__question">
                    <Remove></Remove>
                    <InputAnswer Placeholder="Question"></InputAnswer>
                </p>
                
                    @foreach (Opzione o in Opzioni)
                    {
                    <label class="quiz-form__ans" style="width:100%">
                            <span></span>
                                <input type="radio" name="Opzione"/>
                                <InputAnswer Placeholder="Answer" id="@o.Id.ToString()"></InputAnswer>
                            <b></b>
                            <div style=" display: flex;justify-content: center;">
                                <Plus_Minus btp="subtract-icon" text="Remove answer"></Plus_Minus>
                            </div>
                    </label>
                    }
                
                <div style="display: flex;justify-content: center;" @onclick="AddCount">
                    <Plus_Minus btp="add-icon" text="Add an answer"></Plus_Minus>
                </div>

            </div>
        </form>
    </div>
</div>

@code{
    public List<Opzione> Opzioni = new List<Opzione>() { new Opzione() };
    public int i = 1;
    public void AddCount()
    {
        Opzioni.Add(new Opzione() { Id = i });
    i++;
    }
}