<style>
    .form__groupa {
        position: relative;
        padding: 20px 0 0;
        width: 100%;
    }

    .form__fielda {
        font-family: inherit;
        width: 100%;
        border: none;
        border-bottom: 2px solid #000;
        outline: 0;
        font-size: 17px;
        color: #000;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    }

        .form__fielda::placeholder {
            color: transparent;
        }

        .form__fielda:placeholder-shown ~ .form__labela {
            font-size: 17px;
            cursor: text;
            top: 20px;
        }

    .form__labela {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 17px;
        color: #000;
        pointer-events: none;
    }

    .form__fielda:focus {
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, #000, #000);
        border-image-slice: 1;
    }

        .form__fielda:focus ~ .form__labela {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 17px;
            color: #000;
            font-weight: 700;
        }

    /* reset input */
    .form__fielda:required, .form__fielda:invalid {
        box-shadow: none;
    }
</style>
<input type="radio" name="Opzione" required="" @onchange="()=>ChangeRadio()"   checked="@Opzione.Ischecked"/>
<div class="form__groupa fielda">
    <input type="input" class="form__fielda" placeholder="@Sopra" required="" @bind-value=Opzione.Testo  >
    <label for="@Sopra.ToLower()" class="form__labela">@Sopra</label>
</div>
@code{

    [Parameter,EditorRequired]
    public Opzione Opzione { get; set; } 
    [Parameter,EditorRequired]
    public string? Sopra{ get; set; }

    public void ChangeRadio()
    {
        Opzione.OpzioneCorretta = !Opzione.OpzioneCorretta;
        Opzione.Ischecked = (Opzione.OpzioneCorretta == true) ? "checked" : "";
    }

}
