
<style>
	.radio-input input {
		display: none;
	}

	.radio-input {
		border: 2px solid rgb(0, 0, 0);
		--container_width: 300px;
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 50px;
		background-color: #fff;
		color: #000000;
		width: var(--container_width);
		overflow: hidden;
		margin: 50px auto;
	}

		.radio-input label {
			width: 100%;
			padding: 10px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			font-weight: 600;
			letter-spacing: -1px;
			font-size: 14px;
		}

	.selection {
		display: none;
		position: absolute;
		height: 100%;
		width: calc(var(--container_width) / 3);
		z-index: 0;
		left: 0;
		top: 0;
		transition: .15s ease;
	}

	.radio-input label:has(input:checked) {
		color: #fff;
		
	}

		.radio-input label:has(input:checked) ~ .selection {
			background-color: #240046;
			display: inline-block;
		}

	.radio-input label:nth-child(1):has(input:checked) ~ .selection {
		transform: translateX(calc(var(--container_width) * 0/3));
	}

	.radio-input label:nth-child(2):has(input:checked) ~ .selection {
		transform: translateX(calc(var(--container_width) * 1/3));
	}

	.radio-input label:nth-child(3):has(input:checked) ~ .selection {
		transform: translateX(calc(var(--container_width) * 2/3));
	}
</style>

<div class="radio-input">
	<label>
		<input type="radio" id="value-1" name="value-radio" value="value-1" checked="()=>@IsChecked("value-1"),checked" @onclick="()=>_OnChange(value[0])">
		<span>Test</span>
	</label>
	<label>
		<input type="radio" id="value-2" name="value-radio" value="value-2" checked="@IsChecked("value-2")" @onclick="()=>_OnChange(value[1])">
		<span>Esplora</span>
	</label>
	<label>
		<input type="radio" id="value-3" name="value-radio" value="value-3" checked="@IsChecked("value-3")" @onclick="()=>_OnChange(value[2])">
		<span>Tentativi</span>
	</label>
	<span class="selection"></span>
</div>

@code {
	public string? SelectedValue { get; set; }
	public string[] value = { "1", "2", "3" };

	private void _OnChange(string value)
	{
		SelectedValue = value;
		StateHasChanged();
	}

	private bool IsChecked(string value)
	{
		return SelectedValue == value;
	}

}
