@page "/home"
@inject NavigationManager NavManager;
@using System.Web;

<style>
    .container {
        width: 1000px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
</style>
<Bolle left_="50%" Back="logout"></Bolle>
<body style="background-color:transparent">
    <div style="text-align:center;margin:0 auto; font-size:100px;color:white;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">SandwichQuiz</div>
    <div class="container">
        <div  class="col-lg">
            <Choose Title="Guarda" Description="Esplora i test " Clicked="View"></Choose>
        </div>
        <div  class="col-lg">
            <Choose Title="Crea" Description="Crea un nuovo quiz" Clicked="Create"></Choose>
        </div>
        <div  class="col-lg">
            <Choose Title="Testa"  box=true Clicked="Join" ></Choose>
        </div>
    </div>
    @if (HttpUtility.ParseQueryString((new Uri(NavManager.Uri)).Query)["alert"] == "1")
    {
        <div>
            <Alert Close="()=>Update()" Sub="Il tuo test è stato creato correttamente." Title="Bravo!"></Alert>
        </div>
    }
</body>
@code{
    public string s = "/home?alert=0";
    public async Task Update()
    {
        NavManager.NavigateTo(s,forceLoad:true);
        StateHasChanged();
    }
    

    
    public async Task View()
    {
        NavManager.NavigateTo("/view");
    }

    public async Task Create()
    {
        NavManager.NavigateTo("/create");
    }

    public async Task Join(string s)
    {
        if(s!=null || s=="")
            NavManager.NavigateTo($"/join?IdTest={s}");
    }
}
