@page "/home"
@inject NavigationManager NavManager;
@using System.Web;

<style>
    .container {
        width: 1000px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
</style>
<Bolle left_="50%"></Bolle>
<body style="background-color:transparent">
    <div style="text-align:center;margin:0 auto; font-size:100px;color:white;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">SandwichQuiz</div>
    <div class="container">
        <div @onclick="View" class="col-lg">
            <Choose Title="Guarda" Description="View all quizzes" ></Choose>
        </div>
        <div @onclick="Create" class="col-lg">
            <Choose Title="Crea" Description="View all quizzes"></Choose>
        </div>
        <div @onclick="Join" class="col-lg">
            <Choose Title="Testa" Description="View all quizzes" ></Choose>
        </div>
    </div>
    @if (TakeAlert() == "1")
    {
        <div>
            <Alert Close="()=>NavManager.NavigateTo(s)" Sub="Il tuo test è stato creato correttamente." Title="Bravo!"></Alert>
        </div>
    }
</body>
@code{
    public string s = "/home?alert=0";
    public string TakeAlert()
    {
        var uri = new Uri(NavManager.Uri);
        var queryString = uri.Query;
        var queryParams = HttpUtility.ParseQueryString(queryString);
        return queryParams["alert"];
    }

    public async Task View()
    {
        NavManager.NavigateTo("/view");
    }

    public async Task Create()
    {
        NavManager.NavigateTo("/create");
    }

    public async Task Join()
    {
        NavManager.NavigateTo("/join");
    }
}
