@page "/home"
@inject NavigationManager NavManager;

<style>
    .container {
        width: 1000px;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
</style>
<Bolle left_="50%"></Bolle>
<body style="background-color:transparent">

    <div class="container">
        <div @onclick="View" class="col-lg">
            <Choose Title="Guarda" Description="View all quizzes" ></Choose>
        </div>
        <div @onclick="Create" class="col-lg">
            <Choose Title="Crea" Description="View all quizzes"></Choose>
        </div>
        <div @onclick="Join" class="col-lg">
            <Choose Title="Testa" Description="View all quizzes" ></Choose>
        </div>
    </div>
</body>
@code{
    public async Task View()
    {
        NavManager.NavigateTo("/view");
    }

    public async Task Create()
    {
        NavManager.NavigateTo("/create");
    }

    public async Task Join()
    {
        NavManager.NavigateTo("/join");
    }
}
